<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <link th:href="@{css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/local.css}" rel="stylesheet"/>
</head>
<body>
<header class="header--main-page">
    <nav th:replace="nav :: nav"/>
    <div  class="alert" th:if="${dengerAlert}" th:text="${dengerAlert}"></div>

  <div class="slogan container container--90">
    <div class="slogan--item">
      <h1>
       Zapomniałem hasła
      </h1>
    </div>
  </div>
</header>
</header>


<section class="login-page" id="password">
    <h2>Podaj adres email</h2>
    <form th:action="@{/forgotPassword}" method="POST">
        <div class="form-group">
            <input type="email" name="email" placeholder="Email"/>
        </div>
        <div class="form-group form-group--buttons">
            <button class="btn" type="submit">Zmień hasło</button>
        </div>
    </form>
</section>

<footer th:replace="footer :: footer"/>
</body>
</html>
