<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>
  <body>
    <header class="header--form-page">
        <nav th:replace="nav :: nav"/>

      <div class="slogan container container--90">
          <h2>
            Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
            informacje o odbiorze.
          </h2>
      </div>
    </header>

    <footer th:replace="footer :: footer"/>

    <script th:src="@{/js/form.js}"></script>
  </body>
</html>
